import(Rcpp)
import(doRNG)
import(doParallel)
import(ggplot2)
import(hash)
import(parallel)
useDynLib(mcleod, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")

exportPattern("mcleod.CI.estimation.parameters")
exportPattern("mcleod.estimate.CI")
exportPattern("plot.mcleod.CI")
exportPattern("mcleod.interval.censoring.density.estimation")
exportPattern("plot.posterior.interval.censoring")
exportPattern("MCLEOD.PRIOR.TYPE.BETA.HEIRARCHICAL")
exportPattern("MCLEOD.PRIOR.TYPE.TWO.LAYER.DIRICHLET")
exportPattern("MCLEOD.BINOMIAL.ERRORS")
exportPattern("MCLEOD.POISSON.ERRORS")
exportPattern("mcleod.prior.parameters")
exportPattern("mcleod.computational.parameters")
exportPattern("mcleod.covariates.estimation.parameters")
exportPattern("mcleod")
exportPattern("plot.posterior")
exportPattern("results.covariate.coefficients.posterior")
exportPattern("inv.log.odds")
exportPattern("log.odds")



















